* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 60px;
}

input {
    font-size: 1.2rem;
    color: gray;
    width: 100%;
}

.card {
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.card p {
    padding: 2px;
    font-size: 13px;
    text-align: center;
}

.card img {
    max-height: 200px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}